# registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/
@moj:registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/ 
# //pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:username=builduser
//pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:_password=dVhBMmhkeGE5SjU0QW5lR1FlTDlwVmtIT0s2ZFJPV3MwMjlmd0NsbmVhVXJTWkJvcWZDRkpRUUo5OUJHQUNBQUFBQVRuajhSQUFBU0FaRE8zTUho
//pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:email=ablaybel@netways.com                        
                        
always-auth=true

