# # registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/
# @moj:registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/ 
                        
# always-auth=true
