# registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/
@moj:registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/ 
                        
always-auth=true

# @moj:registry=https://pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/
# //pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:username=${NPM_USERNAME}
# //pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:_password=${NPM_PASSWORD}
# //pkgs.dev.azure.com/netways-uae/CST-10237/_packaging/MOJ/npm/registry/:email=${NPM_EMAIL}
# always-auth=true
